
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.about__clinic{
    background: url(../images/oblaka.jpg) no-repeat; 
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;

    background-size: 100%;
    background-position: center;
    /* background-color: #F8FFE5; */
    height: 700px;
    padding-top: 150px;
}
.main__inner{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clinic__title,
.clinic__video{
    /* margin: 50px 0; */
    display: inline-block;
}

.clinic__title{
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 32px;
}
.clinic__description{
    width: 400px;
    padding-bottom: 50px;
}

.clinic__more{
    border: 1px solid #1E2019;
    padding: 0 26px;
    font-size: 20px;
    line-height: 36px;
    color: #1E2019;
    float: right;
    margin-right: 25px;
    transition: all .3s;
}

.clinic__more:hover{
    border: 1px solid #40225E;
    color: #40225E;

}