.clinic__reviews {
    /* height: 600px; */
    background-color: #F8FFE5;
}


.news {
    padding: 55px 0px 110px;
    background-color: #f9f9f9;
}

.news__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 100%;
    
    
}




.comment__swiper{
    display: flex;
    flex-wrap: wrap;
}


.news__slider {
    max-width: 90%;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;
    margin: 0 auto;
    height: 100%;
    cursor: pointer;
}

.news__slider:before {
    /* content: "\f10e";
    font-family: 'icomoon'; */
    content: ''; 
    background-image: url(../../../fonts/quote-right.png);
    background-size: 25%;
    background-position: 50%;
     
    width: 25px;
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 70px;
    color: #fff;
    font-size: 16px;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #40225E;
}

.news__blog {
    max-width: 260px;
    width: 100%;
}

.news__images {
    position: relative;
}

.news__date {
    position: absolute;
    background-color: #40225E;
    height: 55px;
    width: 50px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0px;
    left: 10px;
}

.news__blog-title {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    color: #242424;
    padding: 12px 0;
}

.news__blog-text {
    letter-spacing: 0.1px;
    color: #5e5e5e;
}

.news__slider-title {
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.news__slider-text {
    margin-bottom: 30px;
}

.news__slider-author {
    letter-spacing: 0.1px;
    color: #212020;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.news__slider-inner .slick-btn {
    top: auto;
    bottom: -110px;
}

.news__slider-inner .slick-next {
    right: -35px;
}

.news__slider-inner .slick-prev {
    right: 20px;
    left: auto;
}

.news__slider-inner .slick-disabled {
    border-color: #dadada;
}

.news__slider-inner .slick-disabled:before {
    color: #dadada;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}