.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.doctors__page{
    background-color: #f9f9f9;
}

.services{
    padding: 50px 0px 30px;
}

.services__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.services__title__box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.services__title__box:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #40225E;
    left: 0;
    top: 11px;
}

.services__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}


.services__btn a{
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}
.services__items{
    display: flex;
    justify-content: space-between;
}