.services__item {
    border-radius: 10px;
    max-width: 360px;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.services__item img {
    width: 360px;
    height: 356.667px;
    border-radius: 10px 10px 0 0;
}

.services__item__title {
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}

.services__item__text {
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;

}

.services__item__btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services__item__btn .default__btn {
    color: #373636;
}

.services__item__btn .default__btn:after {
    color: #fff;
}