.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__top {
    background-color: #1E2019
}


.header__logo img{
    padding: 10px 0 0;
    width: 150px;
}


.header__btn{
    float: right;
    line-height: 36px;
    color: #cbcacb;
    
    padding: 5px 20px 4px 50px;
    font-style: 16px;
    display: block;
    position: relative;
}


.header__btn::before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #B797D6;
}
 


.header__phone,
.header__email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone{
    padding-left: 20px;
    padding-right: 30px;
}

.header__email{
    padding-left: 24px;
}

.header__phone::before{
    /* content: "\f095";
    font-family: 'icomoon'; */
    content: '';
    background-image: url(../../../fonts/phone.png);
    background-size: 75%;
    background-position: 50% 50%;
     
    width: 25px;
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;
    left: -12px;
    position: absolute;
    top: 10px;
    color: #B797D6;
}


.header__email::before{
    content: '';
    background-image: url(../../../fonts/instagram.png);
    background-size: 75%;
    background-position: 50%;
     
    width: 25px;
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;

    position: absolute;
    top: 10px;
    position: absolute;
    left: -7px;
    color: #B797D6;
}


.header__content{
    background-color: #B797D6;
}

.header__content_inner{
    display: flex;
    justify-content: space-between;
}


.menu{
    padding: 34px 0px 23px;
}
.menu li{
    display: inline-block;
}


.menu a{
    text-transform: uppercase;
    color: #1E2019;
    font-style: 18px;
    line-height: 36px;
    border:  1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
    font-style: normal;
}
.menu a:hover{
    border-color: #40225E;
    cursor: pointer;
    border-radius: 10px;
}
