.shares__slider-inner .slick-disabled::before {
    color: rgb(216, 216, 216);
}

.shares__slider-inner .shares-btn {
    top: -38px;
    bottom: -2%;
    padding: 200px 0;
}


.shares__slider-inner .slick-next {
    right: -35px;
    left: 675px;
}

.shares__slider-inner .slick-prev {
    right: 710px;
    left: auto;
}




.shares-btn {
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50px;

    cursor: pointer;
    outline: none;

}

.shares-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #A990C9;
    font-size: 56px;
}

.shares-btn .slick-disabled {
    cursor: default;
    background-color: transparent;

}

.shares-btn .slick-disabled:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: transparent;
    font-size: 56px;
}



.shares__slider-inner {
    position: relative;
}

.shares-btn {
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: none;

    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.shares-btn.slick-disabled {
    cursor: default;
    background-color: transparent;
}

.shares-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: #A990C9;
    font-size: 86px;
}

.shares-btn .slick-disabled:before {

    color: transparent;
}

.shares-next:before {
    content: "\f105";
}

.shares-prev:before {
    content: "\f104";
}

.shares-next {
    right: 0;
}

.shares-prev {
    left: 0;
}

.border-radius {
    border-radius: 50px;
}

.shares__inner {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}