
.center__doctor{
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */

    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
    padding: 10px 20px;
    margin: 10px 0;
}



.center__doctor img{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.center__doctor div{
    display: inline-block;
    
    font-size: 26px;
    padding: 20px;
    align-self: center;
    align-items: center;
    color:#212020;
    
}

.center__doctor .btn{
    float: right;
}
