.shares__slider {
    max-width: 80%;
    margin: 45px auto;
    width: 100%;

    padding: 60px 35px 45px 70px;

    background-color: #A990C9;

    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.651);
    position: relative;
    color: #FAEBFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    height: 100%;
}


.shares__info {
    padding: 25px;
}




.shares__text ul {
    padding: 35px;
    min-height: 200px;
}

.shares__text li {
    line-height: 40px;
    font-size: 14px;
    list-style-type: disc;

}

.title {
    text-transform: uppercase;
    font-size: 20px;
}

.shares__price {
    font-size: 16px;
    float: right;
    padding-right: 15px;
    margin-top: -15px;


}


.shares__title {
    border-bottom: 2px solid #FAEBFF;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    letter-spacing: 1.5px;
}



.shares__important {
    border-top: 2px solid #FAEBFF;
    font-weight: normal;
    padding: 40px 0 15px 40px;

    font-size: 18px;

    margin-top: 10px;
}


.swiper-button-prev, .swiper-button-next{
    color: #A990C9;
}
