@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@400;500&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

i {
  text-decoration: none;
  display: inline-block;
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1E2019
}

header {
  font-family: 'Roboto', sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.header__top {
  background-color: #1E2019;
}



.header__logo img {
  padding: 10px 0 0;
  width: 150px;
}

.header__btn {
  float: right;
  line-height: 36px;
  color: #cbcacb;

  padding: 5px 20px 4px 50px;
  font-style: 16px;
  display: block;
  position: relative;
}

.header__btn::before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 22px;
  color: #B797D6;
}



.header__phone,
.header__email {
  color: #cbcacb;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}

.link {
  color: #cbcacb;
  letter-spacing: 0.25px;
  line-height: 45px;
}


.header__phone {
  padding-left: 20px;
  padding-right: 30px;
}

.header__phone::before {
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #B797D6;
}

.header__email {
  padding-left: 24px;
}

.header__email::before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #B797D6;
}


.header__content {
  background-color: #B797D6;
}



.fixed+.main {
  padding-top: 102px;
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
}

.menu {
  padding: 34px 0px 23px;
}

.menu li {
  display: inline-block;
}

.services__item {
  cursor: pointer;
}

.menu a {
  text-transform: uppercase;
  color: #1E2019;
  font-style: 18px;
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0px 16px;
  transition: all .3s;
  font-style: normal;
}

.menu a:hover {
  border-color: #40225E;
  cursor: pointer;
  border-radius: 10px;
}

/* .fancybox-button{
display: none;
} */

/* .menu a::after {
content: '';
display: block;
position: absolute;
bottom: 0;
height: 2px;
width: 100%;
background-color: #cb11ab;
border-radius: 4px;
-webkit-transform: scale(0,1);
transform: scale(0,1);
-webkit-transition: -webkit-transform .5s ease 0s;
transition: -webkit-transform .5s ease 0s;
transition: transform .5s ease 0s;
transition: transform .5s ease 0s,-webkit-transform .5s ease 0s;
} */

.menu li+li {
  padding-left: 10px;
}

.logo__text {
  font-size: 32px;
  color: #B797D6;
}

.about__clinic {
  /* background: url(../images/oblaka.jpg) no-repeat; */
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;

  background-size: 100%;
  background-position: center;
  /* background-color: #F8FFE5; */
  height: 700px;
  padding-top: 150px;
}

.main-inner {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clinic__title,
.clinic__video {
  /* margin: 50px 0; */
  display: inline-block;
}

.clinic__title {
  padding-bottom: 40px;
  text-transform: uppercase;
  font-size: 32px;
}

.clinic__description {
  width: 400px;
  padding-bottom: 50px;
}

.clinic__more {
  border: 1px solid #1E2019;
  padding: 0 26px;
  font-size: 20px;
  line-height: 36px;
  color: #1E2019;
  float: right;
  margin-right: 25px;
  transition: all .3s;
}

.clinic__more:hover {
  border: 1px solid #40225E;
  color: #40225E;

}

.shares__inner {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: auto;
}

.clinic__doctors {
  background-color: #f9f9f9;

}

.services {
  padding: 50px 0px 30px;
}

.services__top,
.news__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.services__title-box,
.form__title-box,
.news__title-box {
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}

.services__title-box:before,
.form__title-box:before,
.news__title-box:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #40225E;
  left: 0;
  top: 11px;
}

.services__title,
.form__title,
.news__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #212020;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}

.services__text,
.form__text,
.news__text {
  letter-spacing: 0.1px;
}

.services__btn a,
.news__btn a {
  color: #373636;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
}

.services__items {
  display: flex;
  justify-content: space-between;
}

.services__item {
  border-radius: 10px;
  max-width: 360px;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  min-height: 375px;
  background-color: #f9f9f9;
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.services__item img {
  width: 360px;
  border-radius: 10px 10px 0 0;
}

.services__item-title {
  color: #212020;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 24px 0;
}

.services__item-text {
  letter-spacing: 0.1px;
  padding: 0px 30px 30px;

}

.services__item-btn {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.services__item-btn .default-btn {
  color: #373636;
}

.services__item-btn .default-btn:after {
  color: #fff;
}

.services__item-link {
  color: #050505;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #050505;
  /* margin-right: 60px; */
}


.clinic__attendance {
  background-color: #1E2019;
}

.advantages {
  /* padding: 55px 0px 40px; */
  /* background-image: url(../img/adv-fon.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  min-height: 285px;
  background-size: cover;
}

.advantages__inner {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.w-color {
  color: #d3d2d2;
}

.position {
  padding: 0 0 55px 140px;
}

.attendance__block {
  padding: 55px 0px 40px;
}

.advantages-item {
  max-width: 360px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  background-color: black;
  box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
  cursor: pointer;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 60px 0px 15px;
  position: relative;
}

.advantages__title:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #40225E;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__title:after {
  content: "\f00c";
  font-family: 'icomoon';
  font-size: 14px;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__text {
  line-height: 24px;
  color: #d3d2d2;
  letter-spacing: 0.1px;
}

.clinic__reviews {
  /* height: 600px; */
  background-color: #F8FFE5;
}


.news {
  padding: 55px 0px 110px;
  background-color: #f9f9f9;
}

.news__inner {
  display: flex;
  justify-content: space-between;
}

.news__slider {
  max-width: 90%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
  padding: 60px 35px 45px 70px;
  position: relative;
}

.news__slider:before {
  content: "\f10e";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  left: 70px;
  color: #fff;
  font-size: 16px;
  width: 65px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #40225E;
}

.news__blog {
  max-width: 260px;
  width: 100%;
}

.news__images {
  position: relative;
}

.news__date {
  position: absolute;
  background-color: #40225E;
  height: 55px;
  width: 50px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  top: 0px;
  left: 10px;
}

.news__blog-title {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  color: #242424;
  padding: 12px 0;
}

.news__blog-text {
  letter-spacing: 0.1px;
  color: #5e5e5e;
}

.news__slider-title {
  font-size: 18px;
  line-height: 24px;
  color: #242424;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.news__slider-text {
  margin-bottom: 30px;
}

.news__slider-author {
  letter-spacing: 0.1px;
  color: #212020;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.news__slider-inner .slick-btn {
  top: auto;
  bottom: -110px;
}

.news__slider-inner .slick-next {
  right: -35px;
}

.news__slider-inner .slick-prev {
  right: 20px;
  left: auto;
}

.news__slider-inner .slick-disabled {
  border-color: #dadada;
}

.news__slider-inner .slick-disabled:before {
  color: #dadada;
}




#modal {
  display: none;
}

.default-btn {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: #1E2019;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 8px 30px 8px 24px;
  border: 1px solid yellow;
  border-right-width: 20px;
  position: relative;
  z-index: 2;
  outline: none;
}

.default-btn:after {
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}

.slider__inner {
  position: relative;
}

.slick-btn {
  position: absolute;
  top: 70%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 10px;

  cursor: pointer;
  outline: none;
  background-color: #A990C9;
}

.slick-btn.slick-disabled {
  cursor: default;
  background-color: transparent;
}

.slick-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon';
  color: #fff;
}

.slick-next:before {
  content: "\f105";
}

.slick-prev:before {
  content: "\f104";
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}





.slider {
  /* background-image: url(../images/oblaka.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}

.slider__item-content {
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}

.slider__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #1E2019;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
}

.slider__text {
  line-height: 24px;
  font-size: 18px;
  color: #1E2019;
  margin-bottom: 50px;
}


.scrollup-icon::before {
  content: '\f106';
  font-family: 'icomoon';
  position: absolute;
  left: 20%;
  top: 16px;
  font-size: 56px;
  z-index: 9;
  color: #F8FFE5;
}








.footer__content {
  background-color: #595959;
  padding: 50px 0px 55px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__inner .header__btn {
  float: none;
  display: inline-block;
}

.footer__map {
  padding-top: 10px;
  max-width: 630px;
  width: 100%;
}

.footer__map iframe {
  width: 100%;
}

.footer__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 36px;
  letter-spacing: 0.5px;
}

.footer__text {
  color: #d3d2d2;
  margin-bottom: 20px;
}

.footer__info {
  max-width: 360px;
}

.footer__list {
  padding-top: 10px;
}

.footer__list li {
  margin-top: 10px;
}

.footer__list a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding-left: 33px;
  position: relative;
}

.footer__list a:before {
  content: '\f003';
  position: absolute;
  left: 0;
  color: #B797D6;
  font-family: 'icomoon';
}

.footer__list .footer__phone:before {
  content: "\f095";
  left: 3px;
}

.footer__list .footer__adress:before {
  content: "\f041";
  left: 3px;
}

.footer__copy {
  background-color: #303030;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}


.scrollup {
  position: fixed;
  color: #fff;
  background-color: #40225E;
  right: 20px;
  bottom: 0px;
  padding: 50px 30px 4px;
  font-size: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  display: none;
  text-align: center;
  z-index: 100;
}


.hide {
  height: 100px;
  display: none;
}

.scrollup:hover {
  background-color: #000;
}








.shares__slider {
  max-width: 80%;
  margin: auto;
  width: 100%;

  padding: 60px 35px 45px 70px;

  background-color: #A990C9;

  box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.651);
  position: relative;
  color: #FAEBFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}


.shares__info {
  padding: 25px;
}




.shares__text ul {
  padding: 35px;
}

.shares__text li {
  line-height: 40px;
  font-size: 14px;
  list-style-type: disc;

}

.title {
  text-transform: uppercase;
  font-size: 20px;
}

.shares__price {
  font-size: 16px;
  float: right;
  padding-right: 15px;
  margin-top: -15px;


}


.shares__title {
  border-bottom: 2px solid #FAEBFF;
  font-weight: normal;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 20px;
  letter-spacing: 1.5px;
}



.shares__important {
  border-top: 2px solid #FAEBFF;
  font-weight: normal;
  padding: 40px 0 15px 40px;

  font-size: 18px;

  margin-top: 10px;
}





.border-radius {
  border-radius: 50px;
}


.shares__slider-inner .shares-btn {
  top: -38px;
  bottom: -2%;
  padding: 200px 0;
}


.shares__slider-inner .slick-next {
  right: -35px;
  left: 675px;
}

.shares__slider-inner .slick-prev {
  right: 710px;
  left: auto;
}




.shares-btn {
  position: absolute;
  top: 70%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50px;

  cursor: pointer;
  outline: none;

}

.shares-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon';
  color: #A990C9;
  font-size: 56px;
}

.shares-btn .slick-disabled {
  cursor: default;
  background-color: transparent;

}

.shares-btn .slick-disabled:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon';
  color: transparent;
  font-size: 56px;
}



.shares__slider-inner {
  position: relative;
}

.shares-btn {
  position: absolute;
  top: 70%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: none;

  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.shares-btn.slick-disabled {
  cursor: default;
  background-color: transparent;
}

.shares-btn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon';
  color: #A990C9;
  font-size: 86px;
}

.shares-btn .slick-disabled:before {

  color: transparent;
}

.shares-next:before {
  content: "\f105";
}

.shares-prev:before {
  content: "\f104";
}

.shares-next {
  right: 0;
}

.shares-prev {
  left: 0;
}



.t650__row::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.t-align_left {
  text-align: left;
}

.t-col_4 {
  max-width: 360px;
}

.t-col {
  display: inline;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.t650__inner-col {
  position: relative;
}

.t650__text {
  padding: 30px 30px 40px;
}


.t650__bottommargin {
  margin-bottom: 10px;
}

.t-name_lg {
  font-size: 22px;
  line-height: 1.35;
}

.t-name {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 600;
  color: #000;
}


.t-text_sm {
  font-size: 18px;
  line-height: 1.55;
}

.t-text {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.services__btn {
  cursor: pointer;
}

.shares__slider-inner .slick-disabled::before {
  color: rgb(216, 216, 216);
}