*,
*:after,
*:before {
    box-sizing: inherit;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* body {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: #FCFCFC;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif; 
    color: #372717;
    box-sizing: border-box;
    overflow-y: scroll;
} */


.accordion {
    width: 100%; 
    /* max-width: 470px;  */
    margin-bottom: 25px;
}


.panel {
    /* max-width: 470px; */
    background-color: #A990C9;
    border-radius: 30px;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.651);


}

.panel__label {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 25px 60px 25px 25px;
    font-weight: 500;
    font-size: 17px;
    font-family: inherit;
    transition: color .2s linear;
    cursor: pointer;
}



.panel__label:focus {
    outline: none;

}

.panel__label:after,
.panel__label:before {
    content: '';
    position: absolute;
    right: 110px;
    top: 50%;
    width: 22px;
    height: 2px;
    margin-top: -2px;
    background-color: #FAEBFF;


}

.panel__label:before {
    transform: rotate(-90deg);
    transition: transform .35s cubic-bezier(.65, .05, .36, 1);
}

.panel 
.panel__label {
    color: #f8eded;;

}

.panel[aria-expanded='true'] 
.panel__content {
    opacity: 1;

}
.panel[aria-expanded='true'] 
.panel__label {
    color: #ffffff;;

}
.panel[aria-expanded='true'] 
.panel__label:before {
    transform: rotate(0deg);
}


.panel__inner {

    overflow: hidden;
    will-change: height;
    transition: height .4s cubic-bezier(.65, .05, .36, 1);
}

.panel__content {
    margin: 5px 25px 25px;
    font-size: 14px;
    color: #FAEBFF;;
    opacity: 0;
    transition: opacity .3s linear .18s;
}

.panel:not(:last-child) {
    margin-bottom: 3px;

}